img{
    height: 500px;
    width: 500px;
}

body{
    margin: 75px 200px;
    background-color: #532481;
}
h1{
	text-align: center;

}
h2.Heading2{
	font-style: sans-serif;
	font-size: 42px;
}
main{
	background-color: #ffb727;
	
}
header{
	background-color: #ffb727;
}
#fancy{
	font-family: cursive;
}
#Lakers-related {border: 10px solid #532481;
    border-radius: 4px;
}
#regularPic {
	border: 10px solid ;
		color: white;
		border-radius: 4px;
}
#Nba-logo{
	height: 100px;
	width: 100px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
